html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	// background-color: #F5F5F5;
}

body#page-editor{
	background-color: $white;
}

#page-homepage{
	height: auto !important;
	// margin-bottom: 200px;
}

#map {
	height: 100%;
}




.container-float {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
	display: block;
	overflow: auto;
}
.hidden {
	display: none;
}


.container-code{
	background-color: silver;
	border: 1px solid pink;
	height: 150px;
}

.alertify {
	/* default is 2 */
	z-index: 2000;
}