.container-register{


	.container-address{
		// make sure the image used, sticks to right and top
		img:first-child {
			margin-right: -20px;
			margin-top: -20px;
		}

		background-color: white;
		border-radius: 0px;
		padding: 20px;
		margin: 20px 0;


		background-color: #FFFFFF;
		box-shadow: 0 2px 9px 0 rgba(0,0,0,0.5);

		h2{
			color: $red;
			font-size: 48px;
			letter-spacing: -0.74px;
			line-height: 61px;
		}
	}

}