$pink : pink;
$white: #fff;
$black: #000;
$logo-black: #242424;
$gray : #919191;

$base-image-path: "/assets/images/";
$base-font-path: "/assets/fonts/";

// plastic soup colors

$red : #F57D79;
$blue : #0B5B96;
$btn-blue : #028985;


